*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
/*General*/
body{
    background-color: rgb(247, 201, 201);
}
.imgvar{
    width:7rem;
}

.carousel img{
    height: 25vh;
    object-fit: cover;
}
footer{
    background-color: rgb(48, 48, 48);
    align-items: center;
    color: white;
    margin-top: 2rem;
    max-width: 100vw;
    min-height: 10vh;
}
.imgfooter{
    height: 2rem;
    object-fit: cover;
    border-radius: 1rem;
}
/*Contact*/
.maincontact{
    display: flex;
    justify-content: center;
    text-decoration: none;
    min-height: 80vh;
}
header{
    min-height: 10vh;
}

.Buttoncontact{
    width: 5rem; 
}

/*Details*/

.detailsdiv{
    text-align: left;
    justify-self: center;
    justify-content: space-between;
    width: 90vw;
    font-size: 1em;
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.detailsdiv img{
    object-fit: cover;
    width: 50rem;
    height: 50rem;
}
.imagecard{
    height: 12rem;
    object-fit: cover;
}
.divpya{
    gap: 2rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-self: center;
}

.card-text{
    min-height: 15vh;
}

.cardtextp{
    font-size: 1.5rem;
    color: rgb(194, 147, 212);
}
.botona{
    margin-bottom: 3.5rem;   
}


.botona {
    background-color: rgb(194, 147, 212); /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border-color: #000000; /* Color del borde del botón */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno del botón */
    transition: background-color 0.3s ease-in-out; /* Transición suave de color de fondo */
}

.botona:hover {
    background-color: #882166; /* Color de fondo al pasar el cursor sobre el botón */
    border-color: #570606; /* Cambiar el color del borde al pasar el cursor */
}

#inputBusqueda {
    padding: 8px 12px; /* Espaciado interno */
    border: 1px solid #ced4da; /* Borde */
    border-radius: 4px; /* Bordes redondeados */
    background-color: #f5f5f5; /* Color de fondo */
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Cambiar el estilo del campo cuando está enfocado */
#inputBusqueda:focus {
    border-color: #f80dd9b0; /* Cambio de color del borde al estar enfocado */
    outline: 0; /* Evitar el borde azul predeterminado del foco en algunos navegadores */
    box-shadow: 0 0 0 0.2rem rgba(255, 1, 158, 0.945); /* Sombra al estar enfocado */
}

.botonSearch {
    background-color: rgb(194, 147, 212); /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border-color: #a728282c; /* Color del borde del botón */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno del botón */
    transition: background-color 0.3s ease-in-out; /* Transición suave de color de fondo */
}

.botonSearch:hover {
    background-color: #882166; /* Color de fondo al pasar el cursor sobre el botón */
    border-color: #570606; /* Cambiar el color del borde al pasar el cursor */
}



.imagenDeError{ 
    height: 17rem;
}

.botonSearch{
    height: 3rem;
}

#inputBusqueda{
    height: 3rem;
}

